.fashionProduct{
    .container{
        .row{
            margin: 50px 0px;
            display: flex;
            justify-content: center;
            .title{
                text-align: center;
                font-size: 25px;
                font-weight: 600;
            }    
        }
    }
}