.firstSection{
    background-color: $gris3;
    display: flex;
    width: 100%;
    // flex-wrap: wrap;
    .content{
        width: 100vw;
        padding: 90px 0;
        padding-left: 150px;
        span{
            color: $rougeGlobal;
            font-size: 50px;
        }
        img{
            height: 80px;
            width: 100%;
        }
        p{
            color: $gris2;
        }
        .saleItems{
            color: #fff;
            font-size: 10px;
            height: 40px;
            width: 130px;
            background-color: $rougeGlobal;
            border: none;
            border-radius: 20px;
            cursor: pointer;
        }
    }
    .outfit{
        width: 100vw;
        flex-wrap: wrap;
        img{
            height: 450px;
            width: 100%;
        }
    }
}

