header{
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }
    nav{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        ul{
            display: flex;
            justify-content: center;
            li{
                margin: 0 20px;
                list-style: none;
                a{
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                    color: $gris2;
                    font-size: 15px;
                    &:hover{
                        color: lightgray;
                    }
                }
                #connexion{
                    background: $gris;
                    color: white;
                    padding: 6px ;
                    border-radius: 5px;
                    &:hover{
                        color: lightgray;
                    }
                }
            }
            .darkModes{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .light{
                position: relative;
                background: #fff;
                border: 1px solid lightgray; 
                width: 15px;
                height: 15px;
                border-radius: 3px;
                cursor: pointer;
                margin-right: 3px;
                &:hover .lightMode{
                    color: #373737;
                    background: transparent;
                    width: 35px;
                    height: 35px;
                    top: -50px;
                    left: -2px;
                    border: 1px solid lightgray;
                    visibility: visible;
                    opacity: 1;
                    transition: 0.2s;
                }
                .lightMode{
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    border-radius: 5px;
                    padding: 3px;
                    margin: 0;
                    font-size: 10px;
                }
            }
            .dark{
                position: relative;
                background: $dark;
                border: none;
                width: 15px;
                height: 15px;
                border-radius: 3px;
                cursor: pointer;
                &:hover .darkMode{
                    color: #fff;
                    background: black;
                    width: 35px;
                    height: 35px;
                    top: -50px;
                    right: -2px;
                    visibility: visible;
                    opacity: 1;
                    transition: 0.2s;
                }
                .darkMode{
                    position: absolute;
                    visibility: hidden;
                    opacity: 0;
                    border-radius: 5px;
                    padding: 3px;
                    margin: 0;
                    font-size: 10px;
                }
            }
        }
    }
}
